---
import ViewManager from "@venn/ViewManager.vue";
---

<div class="chat-container">
    <ViewManager client:only="vue" />
</div>

<style>
    .chat-container {
        background-color: var(--color-creme);
    }
</style>
