<nav class="navbar">
	<div class="container">
		<div class="nav-content">
			<div class="logo">
				<a href="/" class="logo-link">
					<span class="logo-icon">🎯</span>
					<span class="logo-text">Hoogly</span>
				</a>
			</div>
			<ul class="nav-links">
				<li><a href="/" class="nav-link">Home</a></li>
				<li><a href="/blog" class="nav-link">Blog</a></li>
				<li><a href="#about" class="nav-link">About Us</a></li>
			</ul>
		</div>
	</div>
</nav> 